@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


/* MAIN
--------------------------------------------------------- */

/*! purgecss start ignore */

html {
    font-size: 62.5%;
}


body {
    height: 100vh;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 800;
}


#stage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // pointer-events: none;
}

.copyright {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    color: rgba(#fff, .5);

    a {
        text-decoration: underline;

        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }

    @include maxw($bp-mobile) {
        font-size: 1.4rem;
    }
}

.tp-dfwv {
    z-index: 10;
}

/*! purgecss end ignore */
